@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.wrapper {
  text-align: center;
}

#pdf-canvas {
  min-width: 240px;
  width: 100%;
  height: auto;
  margin: 12px;
}

#counter {
  border-radius: 10px;
  background-color: black;
  color: white;
  opacity: .3;
  font-size: 16px;
  display: inline-block;
  padding: 8px 18px;
  position: fixed;
  bottom: 12px;
  right: 12px;
}